/*-- HEADER --*/
header {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 72px;
    z-index: 10000;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgb(38 38 38 / 16%);
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background: white;
    width: 78px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #E0E0E0;
    transition: all 0.3s ease-in;
}

button:hover {
    background: rgb(221, 221, 221);
    width: 78px;
    height: 40px;
    border-radius: 7px;
}

.header__enter {
    padding: 10px 26px;
}

.header__busket {
    height: 72px;
    display: flex;
    align-items: center;
}

.header_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*--- HEADER END ---*/

/*--- MEDIA ---*/

@media screen and (max-width: 640px) {
    .header__busket {
        display: none;
    }
    .header__container {
        margin-left: 8px;
        margin-right: 0px;
        margin-top: 0.5rem;
    }
    .header__enter {
        padding: inherit 0px;
    }
    nav.navi {
        display: none;
    }
    .main__head_background {
        background-position: top;
    }
    .name_r {
        margin-top: 127px !important;
    }
    .button-up {
        position: fixed;
        width: 64px;
        height: 64px;
    }
}
/* @media screen and (max-width: 1123px) {
  .header__container {
    margin-left: 8px;
    margin-right: 8px;
  }
} */
/* @media screen and (min-width: 1124px) {
  .header__container {
    margin-left: 84px;
    margin-right: 84px;
  }
} */
/* @media screen and (min-width: 1440px) {
  .header__container {
    margin-left: 25%;
    margin-right: 25%;
  }
} */

/*--- NAV ---*/

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    color: #757575;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 4rem;
    margin-top: 8rem;
}

input:focus {
    border: none;
    border-bottom: 1px solid #757575;
    color: #757575;
    outline: 0;
    outline-offset: 0;
}

.main-content {
    margin-top: 8rem;
    margin: inherit 25%;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.alltext {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }

.fs16 {
    font-size: 16px;
}

.fs22 {
    font-size: 22px;
}

body {
    margin: 0px;
}

.preview {
    display: inline-flexbox;
}

.card {
    display: flex;
    flex-flow: wrap column;
    align-content: flex-start;
    margin: 0.5rem 0px;
}

.card figure {
    margin: 0px;
    padding: 3px;
}

.name {
    color: #1D1D1D;
    font-size: 16px;
}

.discription {
    color: #626262;
    font-size: 14px;
}

.time {
    font-size: 13px;
    color: #1D1D1D;
}

a {
    text-decoration: none;
}

.card__content {
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.card__content:hover {
    background: #cecece7e;
    transition: all 0.3s ease-in;
}

.card__image {
    overflow: hidden;
}

.card__image img {
    width: 100%;
    transition: all 0.3s ease-in;
}

.card__content:hover .card__image img {
    transform: scale(1.08);
    transition: all 0.3s ease-in;
}

footer {
    background: #262626;
    margin-top: 100px;
}

.footer__container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer__underlogoline {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.select__language {
    display: flex;
    margin-bottom: 1rem;
    background-color: #3b3b3b;
    width: 40%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer__icons a {
    padding-right: 0.5rem;
}

#lang {
    width: 100%;
    height: 40px;
    background-color: #3b3b3b;
    border: none;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    font-family: sans-serif;
    outline: 0;
    outline-offset: 0;
}

.hash {
    color: #49A144;
}

.tag {
    color: #ffffff;
}

.footer__social {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer__about p {
    display: inline-flex;
    width: 100%;
    font-size: 13px;
}

.footer__about a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0s ease-in;
}

.footer__about a:hover {
    text-decoration: underline;
    transform: scale(1.01);
    transition: 0.2s ease-in;
}

.footer_underaboutline {
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.footer__downloads {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.dlink {
    padding: 5px 1.5rem;
    opacity: 100%;
    transition: opasity 0.2s ease-in;
}

.dlink:hover {
    padding: 5px 1.5rem;
    opacity: 65%;
}

.footer__underdlline {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.main__head_background {
    width: 100%;
    height: 364px;
    background-image: url(/UberEats/imgFirst/fon.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin-top: 72px;
}

.name_r {
    background: white; 
    margin-top: 80px;  
    box-shadow: 0px 0px 16px rgb(38 38 38 / 16%);
}

.name__rest {
    padding: 10% 0px;
    font-size: 30px;
    text-align: center;
}

.name__price__time {   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0.1rem 1rem;
    width: inherit;
    
}

.name__price {
    color: #626262;
    font-size: 14px;  
    padding: 1rem 1rem;
    margin: inherit 20%;
    
}

.name__time {
    color: white;
    font-size: 14px;
    background: black;
    padding: 0.5rem 1.5rem;  
    border-radius: 25px;
    margin: inherit 20%;
    box-sizing: border-box;
}

.menu {
    border-bottom: 1px solid rgba(177, 177, 177, 0.596);
    padding: 15px 0px;
}

.navi {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

.navi__sub {
    padding: 0px 10px;
}

.navi__sub a {
    color: #626262;
    transition: color 0.2s ease-in;
}

.navi__sub a:hover {
    color: #49A144;
}

.dish__card a {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.dish__text {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 64%;
    padding: 1rem 0rem 1rem 1rem;
}

.dish__name {
    flex-grow: 1;
    color: #1d1d1d;
    font-size: 16px;
}

.dish__disc {
    flex-grow: 1;
    font-size: 13px;
}

.dish__image {
    overflow: hidden;
    flex-basis: 34%;
    padding: 0px;
}

.dish__image img {
    width: 100%;
    padding: 0px;
    transition: all 0.3s ease-in;
}

.dish__content {
    margin: 0px;
    display: flex;
    align-items: center;
}

.dish__card:hover .dish__image img {
    transform: scale(1.08);
    transition: all 0.3s ease-out;
}

.dish__card a:hover{
    background: #cecece7e;
    transition: all 0.3s ease-out;
}

.button-up {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 24px;
    right: 16px;
    cursor: pointer;
    display: none;
    opacity: 0.5;
    transition: opacity 0.5s ease-in 0s;
}

.button-up:hover {
    opacity: 0.9;
    transition: opacity 0.5s ease 0s;
}

